
body{
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

strong{
    color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
    color: #e81c4f;
  }