#titulo {
  padding-top: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.h1-titulo {
  color: aliceblue;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

#titulo-h1 {
  display: flex;
  align-items: center;
}

#img-profile {
  border-radius: 50%;
  width: 40%;
  margin-bottom: 20px;
  margin-right: 60px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

@media (min-width: 1000px) {
  #img-profile {
    width: 20%;
  }
  #titulo-h1-2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  #titulo {
    margin-bottom: 30px;
  }

  #titulo-h1 {
    display: none;
  }
  #titulo-h1-2 {
    display: flex;
    justify-content: center;
  }

  #titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 20px;
  }

  #img-profile {
    border-radius: 50%;
    width: 40%;
    margin-bottom: 20px;
    margin-right: 0px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  }

  #titulo-flex {
    display: flex;
    justify-content: center;
  }
}

:root {
  background-color: rgba(112, 111, 111, 0.081) !important;
  color: rgb(75, 74, 74) !important;
}

[data-theme="dark"] {
  background-color: #212529 !important;
  color: rgb(180, 176, 176) !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="dark"] #dmode-d {
  display: none;
}

#dmode-d {
  display: var(--display);
}

[data-theme="light"] #dmode-l {
  display: none;
}

#dmode-l {
  display: var(--display);
}

[data-theme="dark"] #titulo {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#titulo {
  background: var(--background);
  background: var(--background-linear-gradient);
}

[data-theme="light"] #titulo {
  padding-top: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#titulo {
  background: var(--background);
  background: var(--background-linear-gradient);
}

/*  Dark Mode */
:root {
  background-color: rgba(112, 111, 111, 0.081) !important;
  color: rgb(75, 74, 74) !important;
}

[data-theme="dark"] {
  background-color: #212529 !important;
  color: rgb(180, 176, 176) !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

[data-theme="dark"] #dmode-d {
  display: none;
}

#dmode-d {
  display: var(--display);
}

[data-theme="light"] #dmode-l {
  display: none;
}

#dmode-l {
  display: var(--display);
}

[data-theme="dark"] #titulo {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#titulo {
  background: var(--background);
  background: var(--background-linear-gradient);
}

[data-theme="light"] #titulo {
  padding-top: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#titulo {
  background: var(--background);
  background: var(--background-linear-gradient);
}
