:root {
    --background-color: #212335;
    --background-code: #8D99AE;
    --body-color: #ffe5d9;
    --code-color: #f14a5d;
    --em-color: #f14a5d;
    --a-color: #f14a5d;
    --a-hover-color: #D90429;
    --shadow-color: rgba(212, 172, 183, 0.2);
}