:root {
    --background-color: #FFE5D9;
    --background-code: #D8E2DC;
    --body-color: #5c303c;
    --code-color: #a84d66;
    --em-color: #773f4e;
    --a-color: #a84d66;
    --a-hover-color: #f0537d;
    --shadow-color: rgba(157, 129, 137, 0.2);
}