body{
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1rem;
}
.titulo{
  background-color: #F2F2F2;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.contenido{
  padding-left: 1rem;
}
.contenido>p{
  font-weight: 300;
}
.descripcion{
  max-width: 1000px;
  margin: 0 auto;
  width: 60%;
}
table{
  border: #74BDCB 2px solid;
  border-collapse: collapse;
}
thead{
  background-color: #88B2CC;
}
tbody {
  border: #74BDCB 2px solid;
}
td, th{
  border: #74BDCB 2px solid;
  padding: .3rem .5rem;
}
tr:nth-child(even) {
  background: #E7F2F8;
}
code{
  border-radius: 3px;
  border: 1px solid #d3daea;
  display: block;
  padding: 1rem;
}