body {
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

a {
  font-size: bold;
  color: cornflowerblue;
  text-decoration: none;
}