section {
    background: mediumpurple;

}

header {
    background-image: url("img/tecnology.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 3vw 1em;
    text-align: center;
}
header h1{
    color: lightgoldenrodyellow;
    font-size: 50px;
}



.texto-comando p {
    border: 1px solid black;
    background-color: palegoldenrod;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Roboto';
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    background: rgb(203, 234, 245);
}

h2 {
    margin-top: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}

h1,
h2,
strong {
    color: #333;
}

ol {
    margin: 0;
    padding: 1em 1em;
    
}

a {
    color: lawngreen;
    text-decoration-line: none;
}
.about a {
    color: darkblue;
    text-decoration-line: none;
}
.imagenes{
    height: 250px;
}
.imagenes img {
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    object-position: center;
	top: 0;
	left: 0;
    border: #333 1px solid;
    border-radius: 10px;
    align-items:normal;
    
     
}
table{
        text-align: left;
        border-collapse: collapse;
}
div thead{
    background: palegoldenrod;
   font-weight: 900;
}
th, td{
    border: 1px black solid;
    padding: 8px;
}