body {
    margin: 0 auto;
    max-width: 50em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
    padding: 4em 1em;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

body{
    color: #555
}

h1,
h2,
strong {
    color: #333
}


body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
    background-color: #263d36;
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
  }

  header h1 {
    color: rgba(255, 255, 255, 0.829);
    font-size: 2.5em;
    font-weight: 500;

  }

  header p {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: rgba(255, 255, 255, 0.685);
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  header p:hover {
    background:  #e81c4f;
    color: white;
  }
  
