@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --hue-color: 142;
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
}


body {
    background-color: var(--body-color);
    margin: 0 auto;
    max-width: 50em;
    font-family: Poppins;
    line-height: 1.5;
    padding: 4em 1em;
    color: hsl(var(--hue-color), 69%, 99%);
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2 {
    color: hsl(var(--hue-color), 69%, 99%);
}

strong {
    color: var(--first-color);
}

img {
    display: block;
    background-image: linear-gradient(var(--first-color), #000);
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid whitesmoke;
    border-radius: 50%;
}

.social-icon {
    font-size: 3em;
    color: var(--first-color);
    text-decoration: none;
}

.social-icon:hover {
    color: hsl(var(--hue-color), 69%, 40%);
}

p {
    text-align: justify;
    color: var(--text-color);
}

ol {
    color: var(--text-color);
}