@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0 auto;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    padding: 1em 1em;
    background-color: #e6edf0;
}

.section__head{
    background-image: url(danist-soh-bviex5lwf3s-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center center;
    background-color: #263d36;
    line-height: 1.2;
    padding: 5vw 2em;
    text-align: center;
    margin: 1em auto;
    border-radius: 10px;
    color: #89bcda;
    box-shadow: 5px 5px 5px #0051ff;
    max-width: 50em;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
}

.section__head--subtitle{
    margin-top: 1em;
    padding-top: 1em;
    font-weight: 900;
    background-color: #1cb8e84c;
    border-radius: 5px;
    padding: 1em;
    text-shadow: 5px 5px 5px black;
}


.container{
    margin: 0 auto;
    max-width: 50em;
}

.section_paragraph{
    background-color: white;
    margin: 2em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c4bbbb;
}

.paragraph{
    color: #4f4747;
    letter-spacing: .5px;
    margin: 1em;
    font-size: 1.2em;
    font-weight:400;
    font-family: 'Outfit', sans-serif;
}

.section_paragraph a{
    text-decoration: none;
}

.container__table{
    margin: 0 auto;
    display: flex;
    max-width: 50em;
}


.tabla1{
    border: 1px solid lightgreen;
    background-color: #f5f7f9;
    border-radius: 5px;
}

.tabla2{
    border: 1px solid lightgreen;
    background-color: #f5f7f9;
    margin-left: 1em;
    border-radius: 5px;
}

.subtitle__table1{
    margin-bottom: 1em;
    border: 2px solid lightblue;
    padding-left: .5em;
    border-radius: 5px;
    line-height: 2em;
    font-weight: 900;
    height: auto;
    box-shadow: 5px 5px 5px lightblue;
}

.subtitle__table2{
    margin-bottom: 1em;
    border: 2px solid lightblue;
    padding-left: .5em;
    border-radius: 5px;
    line-height: 2em;
    font-weight: 900;
    height: auto;
    box-shadow: 5px 5px 5px lightblue;
}

th, td{
    border: 1px solid lightgreen;
    padding: 10px;
    border-radius: 5px;
}



footer{
    margin-top: 1em;
    padding: 1em;
}
