body{
    margin: 0 auto;
    max-width: 50em;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}
header{
    text-align: center;
    border-bottom: solid pink 3px;
    border-radius: 17px;
    border-top: solid purple 3px;
    margin-top: 26px;
    padding-bottom: 16px;
}
.aboutme{
    font-size: large;

}

a{
    padding: 12px;
    background-color: rgb(138, 44, 226, .7) ;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 12px;

}
a:hover{
    background-color: darkorchid;
}
a:active{
    background-color: deeppink;
}
.bloque{
    display: inline-block;
    
}