body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1,
h3 {
  color: #333;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
}
