@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


body {
    color: #eeeded;
    font-size: 16px;
    margin: 0 auto;
    max-width: 50em;
    font-family:'Trebuchet MS',;
    line-height: 1.5;
    padding: 4em 1em;
    background-image: url(https://images.unsplash.com/photo-1604964432806-254d07c11f32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}       

h1,
h2,
strong{
    color: #f1f1f1;
}

code,
pre {
    border-bottom:  1px solid #e2e2e2;
    color: #ffffff;
}
code {
    
    padding:  2px 4px;
}
pre {
    
    padding: 1em;
    border-left: 1px solid #69c;
}

a {
    color: #e81c4f ;
}

.table{
    margin: auto;
    
}

header {
   
    background-image: url(https://images.unsplash.com/photo-1617900906639-cab7adceb499?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60);
    background-position: center; 
    background-size: cover;
    line-height: 1;
    padding: 5vw 1em;
    text-align: center;
    color: darkgray;
    font-size: x-large;
    filter: blur(1px);
    opacity: 0.9;
     z-index: -1;
     object-fit: cover;
     
}   

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }

  header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
  }
  
  header a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  header a:hover {
    background:  #e81c4f;
    color: white;
  }