@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 0.5em;
    color: #296a92;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

li {
    text-align: justify;
}

h1,
h2,
strong {
    color: #333;
}

code {
    vertical-align: text-bottom;
}

a {
    color: #cf6d85;
}

code,
pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
    padding: 0.5em;
}

pre {
    border-left: 2px solid #69c;
}

header {
    background-color: #a6e2d0;
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    background-blend-mode: hard-light;
    position: sticky;
    top: 0;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

header a {
    border: 1px solid #527cf0;
    border-radius: 290486px;
    color: rgb(109, 10, 221);
    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 0.3em 0.4em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color;
}

header a:hover {
    background: #5438d3;
    color: rgb(233, 233, 233);
}

.header {
    padding: 10px 16px;
    background: #4bb1da;
    color: #f1f1f1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 3px solid #4da3dd;
    text-align: center;
    padding: 8px;
    width: 50%;
}

tr:nth-child(even) {
    background-color: #70dee6;

}