body {
	max-width: 600px;
	margin: 0 auto;
	background: #313132;
	color: #cebebe;
	font-family: monospace;
	font-size: 14px;
}

h1{
	font-size: 48px;
	color: chartreuse;
}

h2 {
	font-style: italic;
}

h3{
	color: yellowgreen;
}

div{
	padding: 20px 0;
}

a{
	text-decoration: none;
	color: yellowgreen;
}

p {
	line-height: 1.5;
}