body{
    /* background-color: #34949be8; */
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 4em 1em;
    color: #555;
}   

h3 {
    padding-top: 1em;
    margin-top: 1em;
}

h1,
h2,
h3,
b {
    color: #333;
}

a {
    color: rgb(195, 15, 159);
    text-decoration: none;
}

div{
    background-color: #0000000e;
    padding-left: 1em;
    padding-right: 1em;

}