
body {
    background-color: rgb(163, 213, 255);
    margin: 0 auto;
    max-width: 60em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: rgb(18, 41, 41);
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
h3,
strong {
    color: #242323;

}

a {
    color: #075f36;
}