@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    margin: auto;
    max-width: 40em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding: 3em 1em;
    color: #555;
}

h1,
h2,
strong {
    color: #333;
}

table {
    padding: 2px 4px;
    background: #f5f5f5;

}

tr {
    background: #d6d8e0;


}

th {
    background: #c2c6da;

}

th,
td {
    padding: 8px;
}

a {
    color: rgb(7, 1, 94);
}