@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: 4em;

}

h3, th {
color: #333;
}

header {
  background-color: #263d36;
  background-image: url(/img/wolfgang-hasselmann-Hmrx_cZWC3s-unsplash.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1{
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header h2, strong, em{
  color: white;
  font-weight: 200;
}

  
header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

table {
  width: 100%;
  border: 1px solid #999;
}

th, td {
  width: 25%;
  text-align: center;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

th {
    background: #eee;
}


