body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
h1,h2,strong {
  color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

  a {
    color: #e81c4f;
  }

  header {
    background-color: #263d36;
    background-image: url("picture1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
  }

  header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 100%;
  }


  header h1:hover {
    color: white;
  }
