body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    background-color: whitesmoke;
}

h1, h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}


strong, em {
    color: #2c2b2b;
    font-weight: bold;
}


a {
    color: blue;
  }

#referencia {
    font-size: 11px;
}