@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
    margin: 0 auto;
    max-width: 70em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    background-color: #eeeeee;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}
h1,
h2,
h3,
strong {
  color: #1626b8;
}
a {
    color: #1c3be875;
    text-decoration: none;
  }