* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,600;1,100;1,700&display=swap');

:root {
    --color-principal : #897de9;
    --color-secundario : #66347F;
    --color-letter : #4D455D;

    --roboto-ff : 'Roboto Mono', monospace;
}

body {
    background-color: var(--color-principal);
    font-family: var(--roboto-ff);
}

.principal {
    padding: 10%;
    color: rgb(0, 0, 0);
    font-size: 10px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
}

.content-logo {
    align-self: flex-end;
    width: 40px;
    cursor: pointer;
}

.content {
    background-color: #9e93ef;
    padding: 30px;
    text-align: center;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: larger;
}

li {
    list-style: none;
}
