body {
    background-color: lightgray;
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
}

body section {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 4em 1em;
    margin: 0.5em;
}

h1 {
    margin-top: 0.8em;
    padding-top: 0.8em;
    text-transform: uppercase;
}

h1.principal {
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-top: 0.5em;
    padding-top: 0.5em;
    text-transform: capitalize;
}

h3 {
    margin-top: 0.3em;
    padding-top: 0.3em;
    text-transform: capitalize;
}

p {
    font-size: 0.95em;
    text-align: justify;
    font-weight: lighter;
}

a {
    font-size: 0.75em;
    color: chocolate;
}

a:hover {
    color: darkgray;
}

table {
    border-spacing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    width: 100%;
}

table thead {
    background-color: chocolate;
    border: 1px solid gray;
    color: whitesmoke;
    text-align: center;
}

table tbody tr td {
    border: 0.01em solid lightgray;
}

table tbody tr td.principal {
    font-weight: bold;
}

ol li {
    font-size: 0.8em;
}

ol li div {
    background: lightgray;
    color: brown;
    font-size: 1.2em;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    max-width: 200px;
    padding: 0.5em;
}