body {
  margin: 0 auto;
  max-width: 50em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h1,
h2,
h3,
strong {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  border-left: 2px solid #69c;
  padding: 1em;
}
a {
  color: #e81c4f;
}
