@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    background: #eee;
    color: #566b78;
  }

  h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
    padding: 2px 4px;
    vertical-align: text-bottom;
  }

  a {
    color: #e81c4f;
  }
  
  p {
    border: 2px solid #2461d2;
    padding: 10px;
  }

  .table {
    border: 2px solid #2461d2;
    width: 100%;
  }
 tbody tr td {
    text-align: center;
    text-transform: uppercase;
    color: black;
 }