* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 70em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
    background: #eee;
}

.header {
    background-color: #263d36;
    background-image: url("/giocompany-3094/github-profiles/giocompany-3094/img/dev.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

.header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}

h1 {
    margin-top: 1em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h1,
h2,
strong {
  color: #333;
}

h3 {
    margin-top: 2em;
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1em;
}

a {
    color: #e81c4f;
    text-decoration: none;
}

li {
    list-style-type: none;
}
