body {
    margin: 0 auto;
    max-width: 40em;

    font-family: 'Helvetica', 'Arial', sans-serif;

    line-height: 1.5;
    padding: 1.5em;

    color: #555;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

li {
    padding: 0.25em;
}

tr:nth-child(even) {
    background-color: #C19AB7;
    color: #fff;
}

th:first-child {
    width: 15%;
}

th, td {
    padding: 0.25em;
    border-bottom: 1px solid #333;
}

th:first-child, td:first-child {
    border-right: 1px solid #333;
}

h1, h2, th, strong {
    color: #9c95dc;
}

code {
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.2em;
    border-bottom: 2px solid #228cdb;
}

img {
    max-width: 30%;
    float: right;
    margin: 0em 1em;
}


a {
    color: #C19AB7;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}