@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}
h1,
h2,
strong {
  color: #333;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
}
a {
  color: #e81c4f;
}
header {
  background-color: #263d36;
  background-image: url("/img/header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}