@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
h3,
th,
strong {
  color: #333;
}

pre {
  padding: 1em;
  background: #f5f7f9;
  border-left: 2px solid #69c;
  border-bottom: 1px solid #d8dee9;
  color: #5fb3b3;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  background-image: url('header.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: whitesmoke;
  font-size: 2.5em;
  font-weight: 300;
}

header h3 {
  color: whitesmoke;
}

section a {
  border: 1px solid #e81c4f;
  border-radius: 1em;
  color: #566b78;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

section a:hover {
  background: #e81c4f;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid;
  background-color: #c594c5;
}

th,
td {
  padding: 0.5em;
}

td + td {
  width: 75%;
  padding-left: 1.5em;
  border-left: 1px solid;
}
