@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    color: #566b78;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h1, h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}





ul {
    list-style: none;
    padding: 0;
}

a {
    color: #e81c4f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos específicos para cada sección */
/* Información de contacto */
ul.contact-info li {
    margin-bottom: 10px;
}

/* Resumen */
p.summary {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Habilidades técnicas */
ul.skills li {
    margin-bottom: 10px;
}

/* Proyectos */
ul.projects li {
    margin-bottom: 20px;
}

ul.projects li strong {
    font-size: 18px;
}
