:root{
    /*Colores*/
    --color-background: #0d1117;
    --just-white: #fff; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    color: var(--just-white);
    background-color: var(--color-background);
}

body {
    margin: 0 auto;
    max-width: 50em;
}

main{
    width: 100%;
    height: auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

th, td{
    background: #30363d;
    border: 1px solid #c9d1d9;
    padding: .75rem;
    color: #fff;
}