body {
    margin: 0 auto;
    line-height: 1.5;
  }

header {
    background-image: url("sky.avif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 9vw;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

header h2 {
    color:rgb(214, 214, 214)
}

main {
    background-color: rgba(240, 240, 240, 0.496);
    margin: 0 auto;
    max-width: 55em;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    padding: 2em;
    color: #333;
}

h3, 
h4,
strong {
    color:#236D90;
}

td,
table {
    background-color: #236e90a8;
    color: rgb(225, 240, 253);
    width: 440px;
    text-align: left;
    margin-left: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 15;
}

thead {
    background-color: #d6d6d6;
    text-align: center;
    color: rgb(51, 51, 51);
}

tr:nth-child(odd){
    background-color: #ddd;
}

tr:hover td {
    background-color: #636363;
    color: white;
}