@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

header {
    background-color: #263d36;
    background-image: url("Art.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

h1, h2, strong {
   color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}