/* GENERAL */

:root {
    /*Paleta de colores*/

    ---primario: #2757b0;
    ---PrimarioOscuro: #928408;
    ---Secundario: #b96900;
    ---SecundarioOscuro: rgb(233,287,2);
    ---blanco: #fff;
    ---negro: #000;

    /*fuente de la pagina*/

    ---fuentePrincipal: 'Staatliches', cursive;}

/*globales*/

html {
    box-sizing: border-box;
    font-size: 62.50%;
    }
  *, *:before, *:after {
    box-sizing: inherit;}

body {
    background-color: var(---Secundario);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0 auto;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

p, ol{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(---negro);

}

a {
    text-decoration: none;}

img {
    max-width: 100%;
}


h1, h2, h3 {
    color: var(---secundario);
    font-family: var(---fuentePrincipal);
} 

h1 {
    font-size: 4rem;}

h2 {
    font-size: 3.2rem;
    margin-top: 1em;
    padding-top: 1em;}

h3 {
    font-size: 2.4rem;}

main{
    margin: auto 0;
    padding: 4rem 2rem;
    max-width: 100%;
    background-color: var(---Secundario);
    border: 4px solid;
}

footer {
    
    display: flex;
    justify-content: center;
    background-color: var(---Secundario);
    border-top: 1px solid var(---negro);
    text-align: center;
    font-weight: bold;}


.header {
    background-color: #263d36;
    background-image: url(../img/photo-1505238680356-667803448bb6.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    padding: 8rem 8rem;
    height: 60rem;
    background-size: cover;
}

  #logo {
    background-color: transparent;
    display: inline-block;
    height: 250px;
    vertical-align: top;
    width: 250px;
}


  header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}
  
  header a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}
  
  header a:hover {
    background:  #e81c4f;
    color: white;
}

.label{
    display: inline;
    outline: none;
    text-decoration: none;
    margin-left: 1%;
    text-align: center;
    box-sizing: border-box;
    width: 31%;
    background-color: var(---PrimarioOscuro);
    color: var(---blanco);
    padding: 10px;
    border-radius: 2px;
}

