@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0em 1em;
    color: #566b78;
}

#description {
    color: white;
    letter-spacing: 0.2em;
    margin: 0 auto;
    max-width: 40em;
}

h2 {
    margin-top: 1em;
    text-align: center;
}

h1,
h2,
strong {
    color: #333;
}

code,
pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

pre {
    border-left: 2px solid #69c;
}

a {
    color: #e81c4f;
}



header {
    background-color: #6788427c;
    background-image: url("images/fondo.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.637);
}


header img {
    display: inline-block;
    height: 256px;
    vertical-align: top;
    width: 256px;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

header a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

header a:hover {
    background: #e81c4f;
    color: white;
}

span.code{
    color: green;
}

span.text{
    color: orange;
}

span.command{
    color: rgb(0, 0, 0);
}