body{
    margin: auto;
    max-width: 50rem;
    background-color: antiquewhite;
    font-family: "Helvetica", "Arial", sans-serif;
    
   }
h1 {
    background-color: aquamarine;
    border-radius: 10px;

     

    }

  h2 {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
            
  }  

  p{
      font-size: 20px;
      color: navy;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
       

  }

  ul{
      font-size: 20px;
      color: navy;
      background-color: white;
      border-radius: 10px;
      
  }

  a{
    padding: 4rem;
    
  }