body{
    background: palegoldenrod;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}
.sub{
    color: #d5eeae;
}
h1,h2,strong {
    color: #333;
}
header {
    background-color: #263d36;
    background-image: url("git.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
  }
  header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }
  header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
  }
  
  header a {
    border: 1px solid #f09f36;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  header a:hover {
    background:  #f09f36;
    color: white;
  }