@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: rgb(4, 31, 54);
    color: rgb(21, 202, 142);
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.header{
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') center /cover no-repeat;
    max-width: none;
    padding: 160px 320px;
    text-align: center;
    color: wheat;
}
.header > img{
    width: 130px;
    height: 130px;
    margin: 16px;
}
.header > h1{
    font-size: 2.5em;
    font-weight: 300;
    margin: 20px 0;
}
.header > p{
    margin: 16px 0;
}
.link-github{
    display: inline-block;
    border: 1px solid white;
    border-radius: 12px;
    margin: 16px 0;
    padding: 12px;
}
.second-container{
    margin: 40px;
}
.programming-container{
    margin: 40px;
}
.programming-container > ul{
    margin-bottom: 40px;
    list-style: none;
}
.command-container{
    margin: 40px;
}
