body {
    font-family: poppins;
    background-image: url("images/951549.jpg");
    background-size: cover;
    width: 100%;
}

header {
    height: 100px;
    text-align: left;
    font-size: xx-large;
    font-weight: 600;
    padding: 30px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px #84b6f4;
    color: #00fff6;
}

.navbar {
    float: right;
    position: relative;
    margin-right: 20px;
}

.navbar ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding: 20px;
    letter-spacing: 3px;
}

.titulito {
    font-size: xx-small;
    text-shadow: none;
    font-weight: 200;
    letter-spacing: 0px;
    color: #dcdcdc;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.punto {
    color: #ff0076;
    text-shadow: 2px 2px 5px #ff0076;
}

.navbar ul li a:link {
    color: #00fff6;
    text-shadow: 2px 2px 5px #84b6f4;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #ff0076;
    text-shadow: 2px 2px 5px #ff0076;
    transition: color .5s;
    text-decoration: overline #ff0076;
    letter-spacing: 5px;
}

.navbar ul li a:visited {
    color: transparent;
}

.navbar ul li a:focus {
    color: #bc98f3;
    text-shadow: 2px 2px 5px #ae3dff;
}

table {
    width: 100%;
}

section.kmtas {
    width: 60%;
}

section.kmtas p {
    position: relative;
    margin-left: 80%;
    padding-right: 0px;
    font-size: 40px;
    font-weight: 300;
    color: transparent;
    text-shadow: 0px 3px 1px #ff5ea9, 4px 4px 5px #ff0076;
}

section.kmtas p:hover {
    text-shadow: .0em .03em 4px #00ddff;
    color: #77d2ff;
    letter-spacing: 8px;
    transition-duration: 2s;
}

section.Saludo {
    width: 60%;
}

section.Saludo p {
    font-size: 60px;
    font-weight: 300;
    color: transparent;
    text-shadow: 0px 3px 1px #77d2ff, 4px 4px 5px #00ddff;
}

section.Saludo p:hover {
    text-shadow: .0em .03em 0 #ff0076;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 8px;
    transition-duration: 2s;
}

footer {
    width: 95%;
    position: absolute;
    bottom:0;
    text-align: right;
    float:right;

}

footer nav ul li {
    display: inline;
    list-style: none;
    padding:20px;
}

footer span {
    font-size: xx-small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #00fff6;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity:0.6;
}

/*span.RRSS {
    padding: 20px;
    font-size: x-small;
    text-align: center;
    color: #00fff6;

}

li.RRSS {
    display: inline;
    position: relative;
    list-style: none;
    padding: 40px;
}*/

/*nav.Iconos {
    position: relative;
    padding-right: 200px;
}*/

h1 {
    margin: 20px;
    padding-top: 100px;
    padding-left: 50px;
    color: transparent;
    text-shadow: 0px 3px 1px rgba(255, 255, 255, 0.4), 0px -1px 0px rgba(0, 0, 0, 0.3);

}

p {
    margin: 20px;
    padding-left: 50px;
    width: 80%;
    text-align: justify;
    color: rgb(182, 180, 180);
}