body {
    max-width: 600px;
    font-size: 15px;
    margin: 0 auto;
    border: 2px dashed tomato;
    background: white;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

p {
    line-height: 1.1;  
}

h1, 
h2 {
    line-height: 1.5;
    margin-top: 32px;
}

strong {
    color: black;
}

a{
    color: blue;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 16px;
}
  
