strong {
    color: #000000;
  }

body {
    line-height: 1.3;
    padding: 12px 75px; 
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    color: #352a2a;
  }

h2 {
    margin-top: 25px;
    padding-top: 25px;  
  }

  code,
  pre {
    background: #eee;
  }
  
  code {
    padding: 2px 4px;
    vertical-align: text-bottom;
  }

a {
    color: blue;
}



  
