/* ROOT */
:ROOT {
  --bg-clr: #242424;
  --text-clr: #edf2f4;
  --title-clr: #3a86ff;
  --accent-clr: #3186ff;
}
/* RESET */
ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* STYLES */

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

.wrapper {
  width: min(100% - 2rem, 40rem);
  margin-inline: auto;
}

h1 {
  border: 1px solid var(--title-clr);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.accent {
  color: var(--accent-clr);
}

section h2 {
  color: var(--title-clr);
  text-decoration: underline;
  font-weight: bold;
}
