html {
  line-height: 1.5;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}

body {
  margin: 0 auto;
  max-width: 70em;
  line-height: 1.5;
  padding: 4em 1em;
  background: rgb(252, 233, 233);
  color: #1a0d0d;
}

header {
  background-image: url("images/IMG_header.jpg");
  background-position: center top;
  padding: 5% 20% 5% 20%;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
}

.wrap {
  text-align: center;
  border: 1px solid #ffffff;
  box-shadow: 0 0 30px #000000;
  backdrop-filter: blur(5px);
}

header img {
  display: inline-block;
  height: 20vmin;
  margin-bottom: 5%;
}

header h1 {
  color: rgb(207, 175, 175);
  font-size: 4em;
  margin-bottom: 0px;
}

header h2 {
  color: rgb(165, 105, 105);
  font-size: 1.5em;
  margin-top: 0%;
  margin-bottom: 1.5em;
}


a {
  color: #8f7503;

}

a:visited {
  color: #ff9393;
  text-align: center;
  margin-left: 10px;
}

img {
  vertical-align: baseline;
  height: 18Px;
 }

h1,
h2,
strong {
  color: #833e3e;
}

h3 {
  font-style: italic;
  text-align: center;
  font-size: medium;
  line-height: 14px;
}

h4,
h5,
h6 {
  font-weight: 900;
  font-style: italic;
}

ol,
ul {
  padding-left: 2.7em;
  margin-top: 1em;
  font-weight: normal;
  color: #8b4040;
}

li>ol,
li>ul {
  margin-top: 0;
}

hr {
  background-color: #6e3434;
  border: none;
  height: 1px;
  margin: 1em 0;
}