header{ 
    background-color: #263d36;
    background-image: url('fondo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}
img {
    display:inline-block;
    height: 150px;
    vertical-align: top;
    width: 150px;
  }
body{
    
    margin: 0 auto;
   max-width: 50em;
   font-family: 'roboto', Helvetica, sans-serif;
   line-height: 1.5;
   padding: 4em 1em;
   color:#566b78;

}
h2{
    margin-top: 1em;
    padding-top: 1em;
    

}
h3{
    margin-top: 1em;
    padding-top: 1em;
}
h1,h2,strong{
    color:#333;
}
code,pre{
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color:#a7adba;
}
code{
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {

    padding: 1em;
    border-left: 2px solid#69c;
}
a {
    color:#e81c4f;
}
header h1 {
    font-size: 2.5em;
    font-weight: 300;
  }
  