
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;700&family=Nunito:wght@200&family=Open+Sans:wght@300;400;700&family=Playfair+Display:wght@700&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@400;700;900&family=Roboto:wght@100&family=Ubuntu:wght@300;400;500;700&display=swap');



body {
    max-width: 1000px;
    font-size: 17px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    background: #f3f4f7;
    color: #333;
}

img {
    display: block;
    width: 300px;
    margin: 0 auto;
}
p {
    line-height: 1.2;
}

h1, h2 {
    line-height: 1.5;
    text-align: center;
}

footer p {
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
}