/* Estilos generales */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
    color:  #575757;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
     color: #131313;
    margin-top: 0;
}

h3, h4, h5 {
    color: #3d3c3c;
    margin-top: 0;
}

/* Header */
header {
    background-color: #263d36;
    background-image: url("STScI-01GK2KMYS6HADS6ND8NRHG53RP.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    
}
header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }
header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
}

/* Contenido principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    display: block;
    margin: 0 auto;
}

main hr {
    border: none;
    border-top: 2px solid #1F1F1F;
    margin: 30px 0;
}

main h2 {
    font-size: 28px;
    margin-top: 30px;
}

main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

main a {
    color: #1F1F1F;
    text-decoration: none;
}


ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


footer {
    background-color: #1F1F1F;
    color: white;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}


a:hover {
    text-decoration: underline;
}

code,
pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  border-left: 2px solid #69c;
}

pre {
  padding: 1em;
}