body{
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1, h2, h3, strong {
    color: purple;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

a {
    color: blue;
    text-decoration: none;
    align-content: center;
}
.table{
    position: sticky;
    width: 100%;
    height: 100%;
    text-align: justify;
}

.footer{
    color: red;
}