


body {
    background-color: tomato;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: purple;

}

div {
    background-color: aquamarine;
    padding: 16px 32px;
    margin: 20px;
    border: 8px solid orchid;
    width: 100px;
}

p {
    background-color: papayawhip;
    color: rgb(59, 107, 11);
}