@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  margin: 0 auto;
  background-color: #333;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #e7e7e7;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
} 
h1, h2, strong {
  color: #ffffff;
}
code, pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
  border-left: 2px solid #69c;
}
a {
  color: #e81c4f;
}
header {
  background-color: #263d36;
  background-image: url("https://images.unsplash.com/photo-1523627430842-015d8b38ce69?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2090&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 5vw 2em;
  text-align: center;
}
header img {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  width: 200px;
}
header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}  
header a {
  border: 1px solid #f1502f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
} 
header a:hover {
  background:  #f1502f;
  color: white;
}
#bodyall {
  max-width: 50em;
  margin: 0 auto;
}
#saludo {
  padding-top: 50px;
}