* {
  text-decoration: none;
}
body {
  max-width: 800px;
  font-size: 14px;
  margin: 0 auto;
  border: 2px dashed rgb(59, 59, 241);
  background-color: #f3f4f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  line-height: 1.1;
}
h1,
h2 {
  line-height: 1.5;
  margin-top: 50px;
}
#footer {
  margin: 0 auto;
  text-align: center;
}
