body {
    margin: 0 auto;
    max-width: 50em;
    color: #555;
    text-align: justify;
}

h1,
h2,
h3,
strong {
    color: #333;
}

body {
    font-family: "Garamond ", "Arial", sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0000FF;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    
    padding: 8px;
    text-align: left;
  }

code,
pre {
  background: #eee;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  border-left: 2px solid #69c;
}


code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

th{
    color: darkmagenta;
}
td {
    color: #69c;
}
td >em {
    color: #0000FF;
}
ul>li {
    margin: 10px 0px;
}