@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{
    margin: 0 auto;
    max-width: 50em;
    font-family: Roboto, Arial, Helvetica, sans-serif;
   color: #555
}

table {
  margin-top: 0.5em;
  padding-top: 1em;
  background: #eee;
}

h1, h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: black
}

a{
   color: red
}