body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #2d2c2c;
    background: rgb(173, 172, 169);
}

.contenedor {
    margin: auto;
    background: whitesmoke;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

h1, 
h2 {
    margin-top: 50px;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

h2,
strong {
    color: #333;
}

h2 a {
    text-decoration: none;
}