@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

table{
    border-collapse: collapse;
}
th, td, tr{
    border: 1px solid black;
}

body{
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

a{
    color: #e81c4f;
}

