body {
    background: var(--gray-color);
    margin: 0 auto;
    max-width: 50em;
    font-family: var(--ff-primary);
    padding: 4em 1em;
}

.header {
    background: var(--gray-color-dark);
    border-radius: 10px;
    box-shadow: 2px 2px var(--secondary-color);
    color: var(--secondary-color);

    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.header a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 1em;
}

.main {
    /* background: var(--gray-color-middle); */
    border: rgb(80, 79, 79) solid 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px var(--gray-color-dark);
    color: var(--primary-color-dark);

    padding: 10px;
    text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

/*  TABLE */
.table {
    margin: 0 auto;
}

.table tr:nth-child(1) {
    background-color: rgb(231, 188, 131);
}

.table__title {
    font-weight: 700;
    font-size: 1.5rem;
    background: var(--gray-color);

}

.table td,
.table th {
    border: 1px solid black;
}

.table td {
    text-align: left;
    padding-left: 1rem;
    color: var(--secondary-color-dark);
    font-weight: bold;
}

.table td:nth-child(1) {
    /* background-color: rgb(180, 113, 25); */
    text-align: left;
    color: var(--secondary-color-dark);
    font-weight: bold;
}

.table tr td {
    color: black;
}