:root {
    --primary-color: #028090;
    --primary-color-dark: #114b5f;
    --secondary-color: #f45b69;
    --secondary-color-dark: #c33c54;
    --gray-color: #ccc;
    --gray-color-middle: #7a7373;
    --gray-color-dark: #333;

    --ff-primary: "Helvetica", "Arial", sans-serif;
}