body {
  background: tomato;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background: mediumpurple;
  padding: 1px;
}

div {
  background: palegoldenrod;
  padding: 16px 32px;
  margin: 20px;
  border: 8px solid orchid;
}

p {
  background: papayawhip;
  color: lightgray;
}

.tomato {
  background: tomato;
}

.nieto {
  background: rebeccapurple;
}

.sobrino {
  background: teal;
}
