/* Global styles */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-color: #121212;
	color: #f2f2f2;
}

/* Header styles */
header {
	background-color: #080808;
	padding: 20px;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

/* Main content styles */
main {
	padding: 20px;
}

h2 {
	font-size: 1.75rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25em;
	font-weight: 600;
}

a {
	color: #00bfff;
}

section {
	margin-bottom: 2rem;
}

i {
	color: #00bfff;
}

/* Table styles */
table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1rem;
	color: #f2f2f2;
}

th,
td {
	text-align: left;
	padding: 0.5rem;
	border: 1px solid #f2f2f2;
}

th {
	background-color: #080808;
	font-weight: bold;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #1c1c1c;
}

code {
	background-color: #f2f2f7;
	color: #333333;
	padding: 0.1rem 0.25rem;
	border-radius: 0.25rem;
	font-family: Consolas, monospace;
}
