@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap');


body {
    font-family: "Raleway", "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #fff;
}

header {
    background-image: url(../img/fondo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: none;
    padding: 85px 32px;
    text-align: center;
    color: azure;
}

header img {
    border-radius: 25px;
    width: 200px;
}

header h1 {
    font-size: 2.5rem;
}

.content {
    margin: 0 auto;
    max-width: 50rem;
}

.card {
    box-sizing: border-box;
    position: relative;
    width: 500px;
    height: 240px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.card h3 {
    margin-left: 15px;
}

.card p {
    z-index: 99;
    position: absolute;
    bottom: 55px;
    right: 65px;
    width: 250px;
}

.card img {
    width: 130px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.movie p {
    bottom: 25px;
}

.movie a {
    z-index: 99;
    position: absolute;
    bottom: 15px;
    right: 70px;
}

a {
    border: 1px solid rgb(51, 113, 160);
    border-radius: 290486px;
    color: black;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 0.5rem 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

a:hover {
    background: rgb(51, 113, 160);
    color: white;
}


.footer {
    background-image: linear-gradient(white, rgb(51, 113, 160));
    padding: 3rem;
    font-size: 1.1rem;
}