@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #333;
}

code, pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

a {
    color: #e81c4f;
}