body {
    margin: 0 auto;
    background: whitesmoke;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    max-width: max-content;
}

#contenido {
    background-color: lightgrey;
    padding: 8px;
    backdrop-filter: blur(10px);
}

#titulos {
    color: rgb(8, 18, 8);
}

.parrafo {
    font-size: 14px;
}

.tabla1, td, th {
    border: 1px solid ; 
    font-size: 14px;  
}

.tabla1{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

.tabla1 th {
    color: rgb(63, 62, 62);
    background-color: papayawhip;
}

.tabla1 td:nth-child(1) {
    text-align: center;
    width: auto;
}
.tabla1 td:nth-child(2) {
    text-indent: 60px;
    font-style: italic;
}

.tabla1, td, th {
    border: 1px solid ; 
    font-size: 14px;  
}

.tabla2{
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}

.tabla2 th {
    color: rgb(63, 62, 62);
    background-color: papayawhip;
}

.tabla2 td:nth-child(1) {
    text-align: center;
    width: auto;
}

.tabla2 td:nth-child(2) {
    text-indent: 60px;
    font-style: italic;
  }

.link {
    text-align: end;
    font-size: 14px;
}

