@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #000;
    background-color: #d1d5db;
    
}

code,pre {
  background: #171717;
  border-bottom: 1px solid #d8dee9;
  color:#fff;
  font-size: x-large;
}

pre {
  border-left: 2px solid #69c;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,h2,strong {
  color: #333;
}

a {
    color: #e81c4f;
}

header {
    background-color: #263d36;
    background-image: url("images/header.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

table, th,tr , td {
  border: 1px solid;
}

