body {
  background: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 600px;
}

div {
  padding: 20px;
  border: 1px solid tomato;
}

.column {
  display: inline-block;
  width: calc(33% - 40px - 2px);
}