body {
  /* Color and  contrast */
  background-color: #30156a;
  /* background-color: #333; */
  color: #94e74c;
  /* Font Family */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  /* Centering */
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 70em;
  /* Spacing */
  line-height: 1.5;
}
strong {
  color: #94e74c;
}
h3 {
  color: #94e74c;
}
h2 {
  margin-top: 1em;
  padding: 1em;
  font-size: 20px;
}
a {
  color: #94e74c;
}
footer {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}
.title {
  text-align: center;
  font-size: 50px;
  margin: 0;
}
.subtitle-0 {
  text-align: center;
  color: #94e74c;
  font-size: 20px;
}

.week-0 {
  background-color: #593f92;
  color: lightseagreen;
  text-align: center;
  margin-top: 30px;
}
.list {
  color: lightseagreen;
}
.week-1 {
  background: #593f92;
  color: lightseagreen;
  text-align: center;
  margin-top: 30px;
}
.class-1 {
  color: lightseagreen;
  background-color: #4f3682;
  width: 490px;
  padding: 15px;
  border: solid tomato;
}
.container {
  color: lightseagreen;
  background-color: #4f3682;
  width: 490px;
  padding: 15px;
  border: solid tomato;
}
.class-1-2 {
  background-color: #4f3682;
  border: solid tomato;
  padding: 15px;
}
.class-1-3 {
  background-color: #4f3682;
  border: solid tomato;
  width: 560px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 8px;
}
.masterclass {
  display: flex;
}
.table {
  border-collapse: collapse;
  margin: auto;
  max-width: 560px;
  width: 100%;
}
th {
  color: white;
  background-color: black;
  border-right: 1px solid #94e74c;
  padding: 14px;
}
td {
  background: #593f92;
  padding: 5px;
  color: lightseagreen;
}
h4 {
  color: lightseagreen;
}
