*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

hr{
    border: 2px gray solid;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.title{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.info{
    text-align: center;
    font-size: 24px;
}

.sub-title{
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 4vh;
}

.flex-img{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.first-table td, .first-table th, .second-table td, .second-table th{
    padding: 5px 10px;
    border-left: 1px solid gray;
    border-bottom: 2px solid gray;
    text-align: start;
}

.last-tr td{
    border-bottom: 0px;
}

.flex-table{
    display: flex;
    justify-content: space-evenly;
}

code{
   padding-bottom: 5vh;
   font-size: 24px;
   padding-left: 30px;
}