body {
    /*width: 800px;*/
    max-width: 50em;
    background-color: black;
    color: antiquewhite;
    
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px auto;
}

h1, h2, h3 {
    background-image: linear-gradient(to right,gray,black);
    padding: 0.5rem;
    text-shadow: black 2px 2px;
    border-radius: 10px 0px 0px 10px;
}

h1:hover, h2:hover, h3:hover {
    background-image: linear-gradient(to left,gray,gray);
    border-radius: 10px;
    text-shadow: black 3px 3px;
}

h2 {
    margin-left: 20px;
}

p {
    background-image: linear-gradient(to bottom right, gray, black);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: black 2px 2px;
    text-align: justify;
    margin: 20px;
}

p:hover {
    background-image: linear-gradient(to bottom left, gray, black);
}

table {
    background-color: gray;
    border-radius: 5px;
    padding: 1px 0px;
    width: 90%;
    margin: auto;
}

tr {
    background-color: #00000095;
    text-align: center;
}

tr:hover {
    background-color: antiquewhite;
    color: black;
}