body {
    margin: 0 auto;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #3A3838;
    justify-content: center;
}

main {
    margin: 0 auto;
    max-width: 70em;
    justify-content: center;
    background-color: papayawhip;
}

h2,
strong {
    color: #07325C;
    text-align: center;
}

.header h1{
    color: papayawhip;
    font-family: Raleway;
    font-size: 50px;
  
}
.header h3{
    color: papayawhip;
    font-family: Raleway;
    font-size: 25px;
  
}
hr {
    border-top: 5px solid #F48F30;
    padding: 0 auto;
    margin: 0 auto;
}

.header {
    background-color: #1B5B97;
    background-image: url("img/header-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.0;
    padding: 8vw 2em;
    text-align: center;
    
}


ol>li::marker {
    font-weight: bold;
    color: #212121;
}

.experience, .description, .table, .table2, .profile {
    margin-bottom: 20px;
    margin-top: 20px;
}



.link {
    color: #07325C;
    font-style: italic;
    font-size: 20px;

}

table {
    border: 1px solid #07325C;
    margin: 0 auto;
}

.profile {
    text-align: center;
}