@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  margin: 0 auto;
  max-width: 60%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
  color: #566b78;
}

h1, h2, strong {
  color: #333;
}
a {
  color:#e81c4f;
}
header h1 {
  position: relative;
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}
  header {
  position: relative;
  background-color: #263d36;
  background-image: url("./header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 4vw 2em;
  text-align: center;
  border-radius: 15px;
  }
  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 139, 0.5);
    backdrop-filter: blur(5px) opacity(0.9);
    -webkit-backdrop-filter: blur(5px) opacity(0.9);
    border-radius: 15px;
  }
  .logo {
    position: relative;
    width: 64px;
    border-radius: 50px;
    margin-left: 10px;
  }
