body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Georgia, 'Times New Roman', Times, serif";
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;

  
  background-image: url("fondo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}


h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}
