body {
  background: #20252c;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  max-width: 660px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  zoom: 1.1;
}
