name: "Close stale issues and PRs"
on:
  schedule:
    - cron: "30 1 * * *"
  
jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v7
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 10
          days-before-close: 5
          stale-issue-label: "stale"
          stale-issue-message: 'Este issue está obsoleto porque ha estado abierto 10 días sin actividad. Elimine la etiqueta "stale" o se cerrará en 5 días.'
          stale-pr-label: "stale"
          stale-pr-message: 'Este pull request está obsoleto porque ha estado abierto 10 días sin actividad. Elimine la etiqueta "stale" o se cerrará en 5 días.'

