body {
    margin: 0 auto;
    width: 90%;
    }
header{
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
}
header .primer_title{
    color: black;
    padding-top: 75px;  
}

div main{
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    height: auto;
    background-color: rgb(250, 238, 220);
}

div#study{
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    height: auto;
    background-color: rgb(250, 238, 220);
}
div.temarios{
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    height: auto;
    background-image: url(https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-size: cover;
}

footer{
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 90%;
    text-align: center;
    height: auto;
    background-color: rgb(250, 238, 220);
    padding-top: 50px;
}
